.manufacturer-container{
    background-color: var(--fundo);
    height: 100vh;
}

.manufacturer-container > h2 {
    color: var(--vermelho);
    background-color: var(--cinza);
    padding: 15px;
    margin: 0;
}

.fields-section {
    padding: 20px;
    background-color: var(--cinza);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.options-article{
    display: flex;
    justify-content: center;
}


button.options-button {
    margin: 0 30px;
    padding: 15px;
    color: white;
    background-color: var(--vermelho);
}

button.options-button:hover {
    background-color: white;
    color: var(--vermelho);
    box-shadow: none;
}


section.form-section {
    margin: 50px 15px 25px 15px;
    background-color: var(--cinza-claro);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.form-section > article > h4 {
    margin-bottom: 15px;
}

.form-section > article > button {
    margin-top: 20px;
}

.form-section > article > button:hover {
    box-shadow: none;
    background-color: var(--laranja);
    color: white;
}

.form-section > article > input{
    margin: 7px 25px 7px 0px;
    width: 300px;
}

.search-results {
    margin-top: 5px;
    border-radius: 8px;
    padding: 10px;
}

.search-results > li {
    padding: 5px 10px;
    margin-bottom: 3px;
    cursor: pointer;
    width: 200px;
    transition: 0.3s;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
}

.search-results > li:hover {
    background-color: var(--laranja);
    color: white;
}

.selected-manufacturer {
    margin-top: 20px;
}

.selected-manufacturer > p > strong {
    color: black;
}

.selected-manufacturer > p {
    color: var(--laranja);
    padding: 3px 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: inline-block;
    margin: 3px;
}